@import "tailwindcss";

:root {
  --background: #F9FBFC;
  --foreground: #2B3E50;

  --color-primary: #00A1E4;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary:: var(--color-primary);

  --font-inter: var(--font-inter);
  --font-lexend-deca: var(--font-lexend-deca);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #2B3E50;
    --foreground: #F9FBFC;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend-deca);
  transition: background 300ms ease, color 300ms ease;
}

.btn {
  background-color: var(--color-primary);
  padding: 0.5rem;
  color: white;
  border-radius: 4px;
}

.nav-link {
  font-family: var(--font-inter);
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--color-primary);
}

.nav-link {
  transition: cubic-bezier();
  transition-duration: 350ms;
}