@import "tailwindcss";

:root {
  --background: #F9FBFC;
  --foreground: #2B3E50;

  --color-primary: #00A1E4;
  --color-primary-hover: #0292cf;

  --color-secondary: #ededed;

  --color-error-bg: #fa7373;
  --color-error-bg-hover: #de6262;
  --color-error-text: #9f4141;
  
  --color-foreground-hover: #445564;

  --color-game-blue: #00A1E4;
  --color-game-green: #00e489;
  --color-game-red: #e83737;
  --color-game-magenta: #d942ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary: var(--color-secondary);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);

  --color-error-bg: var(--color-error-bg);
  --color-error-bg-hover: var(--color-error-bg-hover);
  --color-error-text: var(--color-error-text);

  --font-inter: var(--font-inter);
  --font-lexend-deca: var(--font-lexend-deca);

  --color-game-blue: var(--color-game-blue);
  --color-game-green: var(--color-game-green);
  --color-game-red: var(--color-game-red);
  --color-game-magenta: var(--color-game-magenta);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #2B3E50;
    --foreground: #F9FBFC;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend-deca);
  transition: background 300ms ease, color 300ms ease;
}

.nav-link {
  font-family: var(--font-inter);
  font-size: 1.2rem;
  transition: cubic-bezier();
  transition-duration: 350ms;
}

.nav-link:hover {
  color: var(--color-primary);
}

.basic-input {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0.5rem;
  border-radius: 0.33rem;
  border: solid 0.2rem var(--color-primary);
}

input {
  outline: none;
}